In [1]:
import pandas as pd
import json

In [31]:
df = pd.read_json("./cdl-codes.json")
df

,Codes,crop_code,Class_Names,category,Erdas_Red,Erdas_Green,Erdas_Blue,ESRI_Red,ESRI_Green,ESRI_Blue
0,0,crop_0,Background,meta,0.000,0.0000,0.0000,0,0,0
1,1,crop_1,Corn,food,1.000,0.8275,0.0000,255,212,0
2,2,crop_2,Cotton,commodity,1.000,0.1490,0.1490,255,38,38
3,3,crop_3,Rice,food,0.000,0.6588,0.8980,0,169,230
4,4,crop_4,Sorghum,food,1.000,0.6196,0.0471,255,158,15
...,...,...,...,...,...,...,...,...,...,...
129,247,crop_247,Turnips,food,1.000,0.4000,0.4000,255,102,102
130,248,crop_248,Eggplants,food,1.000,0.4000,0.4000,255,102,102
131,249,crop_249,Gourds,food,1.000,0.4000,0.4000,255,102,102
132,250,crop_250,Cranberries,food,1.000,0.4000,0.4000,255,102,102
133,254,crop_254,Dbl Crop Barley/Soybeans,food,0.149,0.4431,0.0000,38,115,0

In [3]:
croplist = ['crop_1', 'crop_3', 'crop_4', 'crop_5', 'crop_6', 'crop_10', 'crop_12', 'crop_21', 'crop_22', 'crop_27', 'crop_28', 'crop_29', 'crop_31', 'crop_32', 'crop_33', 'crop_35', 'crop_41', 'crop_42', 'crop_43', 'crop_46', 'crop_48', 'crop_49', 'crop_50', 'crop_52', 'crop_53', 'crop_54', 'crop_55', 'crop_56', 'crop_57', 'crop_58', 'crop_59', 'crop_60', 'crop_61', 'crop_66', 'crop_67', 'crop_68', 'crop_69', 'crop_70', 'crop_71', 'crop_72', 'crop_74', 'crop_75', 'crop_76', 'crop_77', 'crop_92', 'crop_111', 'crop_112', 'crop_121', 'crop_122', 'crop_123', 'crop_124', 'crop_131', 'crop_141', 'crop_142', 'crop_143', 'crop_152', 'crop_176', 'crop_190', 'crop_195', 'crop_204', 'crop_205', 'crop_206', 'crop_207', 'crop_208', 'crop_209', 'crop_211', 'crop_212', 'crop_213', 'crop_214', 'crop_216', 'crop_217', 'crop_218', 'crop_219', 'crop_220', 'crop_221', 'crop_222', 'crop_223', 'crop_224', 'crop_225', 'crop_226', 'crop_227', 'crop_229', 'crop_231', 'crop_232', 'crop_233', 'crop_236', 'crop_237', 'crop_238', 'crop_239', 'crop_240', 'crop_241', 'crop_242', 'crop_243', 'crop_244', 'crop_245', 'crop_246', 'crop_247', 'crop_248', 'crop_249', 'crop_250', 'crop_254']

In [4]:
len(croplist)

101

In [35]:
df = df[df['crop_code'] in croplist]
# for c in df["crop_code"]:

#     if c not in croplist:
#         df = df.drop(df[df["crop_code"] == c])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [30]:
df

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[134 rows x 0 columns]